body {
  background-color: #111111;
  color: #62D347;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  font-family: arial;
}

h1  {
  font-size: 48px;
}

p {
  font-size: 18px;
}

select {
  background-color: #222222;
  color: #62D347;
  border-color: #333333;
  width: auto;
  font-size: 18px;
}

input {
  background-color: #222222;
  color: #62D347;
  border-color: #333333;
  font-size: 18px;
}


.page {
  display: grid;
  grid-column: 1fr 1fr;
  grid-template-areas:
    "head head"
    "main output"
    "footer footer";
  grid-column-gap: 3%;

}

.grid-header {
  grid-area: head;

}

.grid-main {
  grid-area: main;
}

.grid-output {
  grid-area: output;
}

.grid-footer {
  grid-area: footer;
}
